
.project-add-create-contacts-container {
  border: 1px solid #dddddd;
  border-radius: 4px;
  background-color: #FFFFFF;
  margin: 0px 15px 30px 15px;
  padding: 20px 20px 20px 20px;

  .input-error {
    color: red;
    padding-top: 5px;
  }

  .dropzone-container {
    padding: 0px 0px 0px 20px;

    .edit-contact-image {
      padding-top: 5px;
      span {
        color: #11bfe3;
      }
      span:hover {
        cursor: pointer;
      }
      .edit {
        padding-left: 20px;
      }
    }

    .dropzone {
      border: 1px solid #dddddd;
      height: 110px;
      width: 110px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      background-color: #EBEBE4;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

    .upload {
      display: flex;
      flex-direction: column;
      margin-bottom: 7px;
      .upload-picture {
        padding: 0px 0px 0px 0px;
      }
      .camera {
        padding: 0px 0px 0px 8px;
        font-size: 28px;
        color: #b5b0b0;
      }
    }
    img {
      border: 1px solid #dddddd;
      height: 110px;
      width: 110px;
      border-radius: 50%;
      -o-object-fit: cover;
      object-fit: cover;
    }
  }

  .forms-container {

    .first-last-name-container, .company-title-container, .phone-number-container, .email-container {
      display: flex;
      flex-direction: row;

      .first-name, .last-name, .company-name, .title-name, .phone, .mobile-phone, .email  {
        padding: 20px 20px 0px 20px;
        width: 50%;
      }

      .first-name-title, .last-name-title, .company-name-title, .title-name-title, .phone-number-title,
      .mobile-phone-number-title, .email-title {
        margin-bottom: 5px;
      }

      input {
        width: 100%;
        height: 35px;
        border-radius: 5px;
        border: 1px solid #dddddd;
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        padding-left: 10px;
      }

      input[type=text]:focus {
        border: 1px solid #23CCEF;
      }
      ::placeholder {
          color: #CACACA;
          opacity: 1; /* Firefox */
      }
    }
  }

  .save-cancel-button {
    padding: 30px 20px 20px 20px;
    display: flex;
    justify-content: flex-end;

    .save-cancel-block {

      .cancel-button {
        margin-right: 20px;
        background-color: #FFA534;
      }
      .cancel-button:hover {
        background-color: #ffc071;
      }

      .save-button {
        color: #23CCEF;
        background-color: #FFFFFF;
        border: 2px solid #23CCEF;
        border-radius: 5px;
        padding: 5px 40px 5px 40px;
        outline: none;
      }
      .save-button:hover {
        background-color: #e8fdff;
      }

      button {
        color: #FEFEFE;
        background-color: gray;
        border: none;
        border-radius: 5px;
        padding: 10px 20px 10px 20px;
        outline: none;
      }
      button.active {
        background-color: #23CCEF;
      }
      button.active:hover {
        background-color: #00aed2;
      }
    }
  }
}

@media screen and (max-width: 1400px) and (min-width: 600px) {
  .project-add-create-contacts-container {
    margin: 0px 0px 0px 0px;
    padding: 10px 0px 10px 0px;

    .forms-container {
      .first-last-name-container, .company-title-container, .phone-number-container, .email-container {
        .first-name, .last-name, .company-name, .title-name, .phone, .mobile-phone, .email  {
          padding: 20px 10px 0px 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .project-add-create-contacts-container {
    margin: 0px 0px 0px 0px;
    padding: 10px 0px 10px 0px;

    .forms-container {
      .first-last-name-container, .company-title-container, .phone-number-container, .email-container {
        display: flex;
        flex-direction: column;
        .first-name, .last-name, .company-name, .title-name, .phone, .mobile-phone, .email  {
          padding: 20px 20px 0px 20px;
          width: 100%;
        }
      }
    }
    .save-cancel-button {
      .save-cancel-block {
        display: flex;
        flex-direction: row;
      }
    }
    .edit-profile-button-container {
      display: flex;
      flex-direction: column;
      .change-password-link {
        margin-bottom: 10px;
      }
    }
  }
}
