
.change-password-container {

  width: 50%;
  // min-width: 500px;
  background-color: #FFFFFF;
  margin-left: 20px;
  border: 1px solid #dddddd;
  border-radius: 4px;

  .change-password-forms-container {
    padding: 20px 40px 30px 20px;

    .change-password-page-title-container {
      padding: 0px 0px 20px 0px;
      font-size: 20px;
      .change-password-page-title-error {
        margin-top: 5px;
        font-size: 16px;
        color: red;
      }
    }

    .current-password-container {
      input {
        width: 100%;
        height: 35px;
        border-radius: 5px;
        border: 1px solid #dddddd;
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        padding-left: 10px;
      }
      ::placeholder {
          color: #CACACA;
          opacity: 1; /* Firefox */
      }
      input[type=text]:focus {
        border: 1px solid #23CCEF;
      }
      &.current {
        margin-bottom: 20px;
      }
      .current-password-title {
        margin-bottom: 5px;
      }

      .input-error {
        color: red;
        padding-top: 5px;
      }
    }
  }

  .change-password-button-container {
    padding: 0px 40px 20px 20px;
    display: flex;
    justify-content: flex-end;
    button {
      display: flex;
      flex-direction: row;
      justify-content: center; /*center horizontal*/
      align-items: center;     /*center vertical */

      color: #FEFEFE;
      // background-color: #23CCEF;
      background-color: gray;
      border: none;
      border-radius: 5px;
      padding: 10px 30px 10px 30px;
      outline: none;
      &.active {
        background-color: #23CCEF;
      }
      &.active:hover {
        background-color: #00aed2;
      }
    }
  }
}

@media screen and (max-width: 1200px) and (min-width: 600px) {
  .change-password-container {
    width: auto;
    margin: 0px 0px 0px 0px;
    .change-password-forms-container {
      padding: 20px 20px 30px 20px;
    }
    .change-password-button-container {
      padding: 0px 20px 20px 20px;
    }
  }
}

@media screen and (max-width: 600px) {
  .change-password-container {
    width: 100%;
    margin: 0px 0px 0px 0px;
    .change-password-forms-container {
      padding: 10px 10px 30px 10px;
    }
    .change-password-button-container {
      padding: 0px 10px 20px 20px;
    }
  }
}
